/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
resources/config.edn
resources/queries-PSQL.sql
config.edn
.#project.clj
/uploadedData/userPic
/uploadedData/training
/uploadedData/recognizer
resources/ignore-setup-queries.txt
