;; please rename this file to 'config.edn' after making all the necessary edits
{:dbtype "mssql"
:dbname "database_name" 	;;put relevant database name here
:user "admin"				;;DB login details
:password "admin"
:port "1401"}